
.deps/
.libs/

*.o
*.lo
*.la

*~

# ./bootstrap
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
doc/Makefile.in
install-sh
ltmain.sh
missing
src/Judy1/Makefile.in
src/JudyCommon/Makefile.in
src/JudyHS/Makefile.in
src/JudyL/Makefile.in
src/JudySL/Makefile.in
src/Makefile.in
src/obj/Makefile.in
test-driver
test/Makefile.in
tool/Makefile.in

